{% extends "layout.html" %}

{% block title %}Add Vehicle{% endblock %}

{% block main %}
<div class="col-sm-6">
    <h2 class="mt-2">Add your vehicle</h2>
    <p>Please enter your vehicles basic information below</p>
    <form method="post">
        <div class="form-group">
            <label for="vehicle_name">Vehicle Name</label>
            <input type="text" class="form-control" name="vehicle_name" placeholder="Your vehicle's name"
                maxlength="128" required>
        </div>
        <div class="form-group">
            <label for="name">Date Manufactured</label>
            <input type="date" class="form-control" name="date_manufactured" required>
            <small id="nameHelp" class="form-text text-muted">This can be found within your vehicle's registration
                details.</small>
        </div>
        <div class="form-group">
            <label for="mileage">Current Total Mileage</label>
            <input type="number" class="form-control" name="mileage" placeholder="Your vehicle's current mileage" min=1
                max=1000000 required>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="standard" value="true">
            <label class="form-check-label" for="standard">Add standard maintenance schedule?</label>
            <small id="standardHelp" class="form-text text-muted">Checking this box will add a standard set of
                maintenance tasks for your vehicle that you can edit further. These are based on an average US vehicle.
                Always check your manual for the correct maintenance schedule for your vehicle.</small>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Add vehicle</button>
    </form>
</div>

{% endblock %}