{% extends "layout.html" %}

{% block title %}Vehicles{% endblock %}

{% block main %}
{% if vehicles %}
<h1 class="mt-3">Vehicles</h1>
<p>Below is a table showing all vehicles on this account and their present status. To edit or find out more about a
    particular vehicle click on its name.</p>
<table class="table">
    <thead>
        <th>Vehicle Name</th>
        <th scope="col" class="d-none d-md-table-cell">Last Reported Mileage</th>
        <th>Estimated Current Mileage</th>
        <th scope="col" class="d-none d-md-table-cell">Age</th>
        <th>Maintenance Status</th>
    </thead>
    <tbody>
        {% for vehicle in vehicles %}
        <tr>
            <td><a href="/vehicle/{{ vehicle.vehicle_id }}">{{ vehicle.vehicle_name }}</a></td>
            <td scope="col" class="d-none d-md-table-cell">{{ vehicle.last_odometer().reading | mileage }}</td>
            <td>{{ vehicle.est_mileage() | mileage }}</td>
            <td scope="col" class="d-none d-md-table-cell">{{ vehicle.age() | age }}</td>
            {% if vehicle.status() == 'Good' %}
            <td><span class="badge badge-success"><i class="fas fa-check"></i>&nbsp;&nbsp;Good</span></td>
            {% elif vehicle.status() == 'Soon' %}
            <td><span class="badge badge-info"><i class="fas fa-info-circle"></i></i>&nbsp;&nbsp;Soon</span></td>
            {% else %}
            <td><span class="badge badge-danger"><i
                        class="fas fa-exclamation-triangle"></i></i>&nbsp;&nbsp;Overdue</span></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h1>Hi {{ user.name }}!</h1>
<p>Welcome to Auto Maintenance. Here you can add your vehicles, mileage readings and your scheduled maintenance events
    for
    your vehicle.</p>
<p>To begin add a vehicle: </p>
{% endif %}
<a href="/addvehicle" class="btn btn btn-primary" role="button"><i class="fas fa-plus"></i> Add a Vehicle</a>
{% endblock %}