<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href="/static/favicon.ico" rel="icon">
    <title>Auto Maintenance - {% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
        <a class="navbar-brand" href="/">
            <svg class="mr-3" width="30" height="30" xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg">
                <g>
                    <path fill=white id="svg_1"
                        d="m16.758,21.401c0,0 4.496,4.496 4.819,4.819c1.04,1.04 2.725,1.04 3.764,0c1.04,-1.04 1.04,-2.725 0,-3.765c-0.323,-0.323 -4.819,-4.819 -4.819,-4.819l-3.764,3.765z" />
                    <path fill="white" id="svg_2"
                        d="m23.998,11.003l-3.201,-0.8l-0.8,-3.201l3.706,-3.706c-2.129,-0.677 -4.551,-0.176 -6.24,1.512c-2.41,2.41 -1.639,5.547 0.772,7.957c2.41,2.41 5.547,3.182 7.957,0.771c1.689,-1.689 2.19,-4.111 1.512,-6.239l-3.706,3.706z" />
                    <polygon fill="white" id="svg_3" points="12.5,11.5 9,8 8,5 4,3 2,5 4,9 7,10 10.5,13.5 " />
                    <path fill="white" id="svg_4"
                        d="m17.879,8.879c-3.364,3.364 -12.636,12.636 -13,13c-1.172,1.172 -1.172,3.071 0,4.243c1.172,1.172 3.071,1.172 4.243,0c0.364,-0.364 9.636,-9.636 13,-13l-4.243,-4.243zm-10.879,16.121c-0.552,0 -1,-0.448 -1,-1c0,-0.552 0.448,-1 1,-1s1,0.448 1,1c0,0.552 -0.448,1 -1,1z" />
                </g>
            </svg>
            Auto Maintenance
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if session.user_id %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home"><i class="fas fa-home"></i>  Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/home" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-car"></i> Vehicles
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for vehicle in user.vehicles %}
                        <a class="dropdown-item" href="/vehicle/{{ vehicle.vehicle_id }}">{{ vehicle.vehicle_name }}</a>
                        {% endfor %}
                        {% if user.vehicles %}
                        <div class="dropdown-divider"></div>
                        {% endif %}
                        <a class="dropdown-item" href="/addvehicle">Add Vehicle</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message|safe }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">
        {% block main %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Liam Bates - 2019</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>