{% extends "layout.html" %}

{% block title %}{{ maintenance.name }}{% endblock %}

{% block main %}

<h1 class="mt-3">{{ maintenance.name }}</h1>
<a class="btn btn-secondary" href="{{ url_for('vehicle', vehicle_id=maintenance.vehicle_id) }}" role="button"><i
        class="fas fa-arrow-left"></i> Back</a>
<button class="btn btn-primary" data-toggle="modal" data-target="#EditModal"><i class="fas fa-pen"></i>
    Edit</a></button>
<button class="btn btn-danger" data-toggle="modal" data-target="#DeleteModal"><i class="fas fa-trash-alt"></i>
    Delete</a></button>

<p><b>Frequency (miles): </b>{{ maintenance.freq_miles | mileage }}</p>
<p><b>Frequency (months): </b>{{ maintenance.freq_months }}</p>
<p><b>Miles until due: </b>{{ maintenance.miles_until_due() | mileage }}</p>
<p><b>Days until due: </b>{{ maintenance.days_until_due() }}</p>
<p><b>Description: </b>{{ maintenance.description }}</p>

<div class="modal fade" id="DeleteModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Maintenance Task</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the maintenance task?</p>
            </div>
            <div class="modal-footer">
                    <a class="btn btn-danger" href="{{ url_for('delete_maintenance', maintenance_id=maintenance.maintenance_id) }}">Delete</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Maintenance</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                {% from "_formbuilder.html" import render_field %}
                <form method="post" id="EditForm">
                    {{ edit_form.csrf_token }}
                    {{ render_field(edit_form.name) }}
                    {{ render_field(edit_form.description) }}
                    {{ render_field(edit_form.freq_miles, placeholder="How often maintenance performed in miles") }}
                    {{ render_field(edit_form.freq_months, placeholder="How often maintenance performed in months") }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="submit_edit">Edit Maintenance</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="LogModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Maintenance</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    {% from "_formbuilder.html" import render_field %}
                    <form method="post" id="LogForm">
                        {{ edit_form.csrf_token }}
                        {{ render_field(log_form.log_date, placeholder="MM/DD/YYYY") }}
                        {{ render_field(log_form.log_miles, placeholder="Mileage when undertaken") }}
                        {{ render_field(log_form.log_notes) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="submit_log">Add Log</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script>
    $('#submit_edit').click(function (event) {
        event.preventDefault();

        var data = $('#EditForm').serialize()
        data += '&submit_edit=Edit+Maintenance+Task'

        var url = "{{ url_for('maintenance', maintenance_id=maintenance.maintenance_id) }}";
        $.post(url, data, function (data) {
            if (data.status == 'ok') {
                $('#EditModal').modal('hide');
                location.reload();
            }
            else {
                var html = $.parseHTML(data)
                html = $(html).find("#EditModal .modal-body").html()

                $('#EditModal .modal-body').html(html);
            }
        });
    })
    $('#submit_log').click(function (event) {
        event.preventDefault();

        var data = $('#LogForm').serialize()
        data += '&submit_log=Add+Log'

        var url = "{{ url_for('maintenance', maintenance_id=maintenance.maintenance_id) }}";
        $.post(url, data, function (data) {
            if (data.status == 'ok') {
                $('#LogModal').modal('hide');
                location.reload();
            }
            else {
                var html = $.parseHTML(data)
                html = $(html).find("#LogModal .modal-body").html()

                $('#LogModal .modal-body').html(html);
            }
        });
    })
</script>
<h2 class="mt-2">Log History</h2>
{% if maintenance.logs %}
<table class="table">
    <thead>
        <th>Date</th>
        <th>Mileage</th>
        <th>Notes</th>
    </thead>
    <tbody>
        {% for log in maintenance.logs | sort(attribute='date', reverse = True) %}
        <tr>
            <td>{{ log.date }}</td>
            <td>{{ log.mileage | mileage }}</td>
            <td>{{ log.notes }}<a class="close" href="/log/{{ log.log_id }}/delete">&times;</a></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% else %}
<p>There are currently no record of any previous maintenance being performed.</p>
{% endif %}
<button class="btn btn-primary" data-toggle="modal" data-target="#LogModal"><i class="fas fa-plus"></i>
    Add Log</a></button>
{% endblock %}
