{% extends "layout.html" %}

{% block title %}Registration{% endblock %}

{% block main %}

<h1 class="mt-3">Register</h1>
<p>Please enter your information below to register a new account.</p>

<div class="row">
    <div class="col-sm-6">
        {% from "_formbuilder.html" import render_field %}
        <form method=post>
            {{ form.csrf_token }}
            {{ render_field(form.email, help='An email address to login and for notifications to be sent to.') }}
            {{ render_field(form.name, help='Your given name, so that we know how to address you.') }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm, False, help='Please do not use a password you use on other websites.') }}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>





{% endblock %}