{% extends "email/email.html" %}

{% block main %}
<p>Hi {{ vehicle.user.name }},</p>
<p>Your {{ vehicle.vehicle_name }} is due maintenance:</p>
<table class="table">
    <thead>
        <th>Maintenance Task</th>
        <th>Miles due</th>
        <th>Days due</th>
        <th>Status</th>
    </thead>
    <tbody>
        {% for maintenance in vehicle.maintenance %}
        <tr>
            <td>
                <a
                    href="{{ url_for('maintenance', maintenance_id=maintenance.maintenance_id, vehicle_id=vehicle.vehicle_id, _external=True) }}">{{ maintenance.name }}</a>
            </td>
            <td>{{ maintenance.miles_until_due() }}</td>
            <td>{{ maintenance.days_until_due() }}</td>
            {% if maintenance.status() == 'Good' %}
            <td><span class="badge badge-success"><i class="fas fa-check"></i>&nbsp;&nbsp;Good</span></td>
            {% elif maintenance.status() == 'Soon' %}
            <td><span class="badge badge-warning"><i class="fas fa-info"></i>&nbsp;&nbsp;Soon</span></td>
            </td>
            {% else %}
            <td><span class="badge badge-danger"><i
                        class="fas fa-exclamation-triangle"></i></i>&nbsp;&nbsp;Overdue</span></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Click on the maintenance event above to find out more information on Auto Maintenance.</p>
<br>
<p>Thanks,</p>
<p>Auto Maintenance</p>
{% endblock %}