{% extends "email/email.html" %}
{% block main %}
<h1>Welcome!</h1>
<p>Hi {{ user.name }},</p>
<p>Welcome to Auto Maintenance.</p>
<p>To begin to use the app please click the link below to confirm your email acccount:</p>
<p><a href="{{ confirm_url }}">Confirm my Email Address</a></p>
<p>Once confirmed you will be able to begin to use the app to create maintenance schedule's for your vehicle and be
    notified via email of any due tasks.</p>
<br>
<p>Thanks,</p>
<p>Auto Maintenance</p>
{% endblock %}