{% extends "layout.html" %}

{% block title %}Cars{% endblock %}

{% block main %}
{% if cars %}
<h1>Vehicles</h1>
<p>Below is a table showing all vehicles on this account and their present status. To edit or find out more about a
    particular vehicle click on its name.</p>
<table class="table">
    <thead>
        <th>Vehicle Name</th>
        <th>Last Reported Mileage</th>
        <th>Estimated Current Mileage</th>
        <th>Age</th>
        <th>Status</th>
    </thead>
    <tbody>
        {% for car in cars %}
        <tr>
            <td><a href="/car/{{ car.car_id }}">{{ car.car_name }}</a></td>
            <td>{{ car.last_odometer().reading }} miles</td>
            <td>{{ car.est_mileage() }} miles</td>
            <td>TBA</td>
            <td><button type="button" class="btn btn btn-success">Status</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h1>Hi {{ user.name }}!</h1>
<p>Welcome to Auto Maintenance. Here you can add your cars, mileage readings and your scheduled maintenance events for
    your vehicle.</p>
<p>To begin add a car: </p>
{% endif %}
<a href="/addcar" class="btn btn btn-primary" role="button">Add a vehicle</a>
{% endblock %}