{% extends "layout.html" %}

{% block title %}Vehicles{% endblock %}

{% block main %}
{% if vehicles %}
<h1 class="mt-3">Vehicles</h1>
<p>Below is a table showing all vehicles on this account and their present status. To edit or find out more about a
    particular vehicle click on its name.</p>
<table class="table">
    <thead>
        <th>Vehicle Name</th>
        <th scope="col" class="d-none d-md-table-cell">Last Reported Mileage</th>
        <th>Estimated Current Mileage</th>
        <th scope="col" class="d-none d-md-table-cell">Age</th>
        <th>Status</th>
    </thead>
    <tbody>
        {% for vehicle in vehicles %}
        <tr>
            <td><a href="/vehicle/{{ vehicle.vehicle_id }}">{{ vehicle.vehicle_name }}</a></td>
            <td scope="col" class="d-none d-md-table-cell">{{ vehicle.last_odometer().reading | mileage }}</td>
            <td>{{ vehicle.est_mileage() | mileage }}</td>
            <td scope="col" class="d-none d-md-table-cell">{{ vehicle.age() / 365.2524 }} years</td>
            {% if vehicle.status() == 'Good' %}
            <td><button type="button" class="btn btn btn-success">{{ vehicle.status() }}</button></td>
            {% elif vehicle.status() == 'Soon' %}
            <td><button type="button" class="btn btn btn-warning">{{ vehicle.status() }}</button></td>
            {% else %}
            <td><button type="button" class="btn btn btn-danger">{{ vehicle.status() }}</button></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h1>Hi {{ user.name }}!</h1>
<p>Welcome to Auto Maintenance. Here you can add your vehicles, mileage readings and your scheduled maintenance events for
    your vehicle.</p>
<p>To begin add a vehicle: </p>
{% endif %}
<a href="/addvehicle" class="btn btn btn-primary" role="button">Add a vehicle</a>
{% endblock %}