{% extends "layout.html" %}

{% block title %}{{ vehicle.vehicle_name }}{% endblock %}

{% block main %}

<h1 class="mt-3">{{ vehicle.vehicle_name }}</h1>
<div class="row">
    <div class="col-sm-6">
        <h2 class="mt-2">Vehicle Info</h2>
        <p><b>Last reported mileage: </b>{{ vehicle.last_odometer().reading | mileage }}</p>
        <p><b>Estimated Current Mileage: </b> {{ vehicle.est_mileage() | mileage }}</p>
        <p><b>Date Manufactured: </b>{{ vehicle.vehicle_built }}</p>
        <p><b>Age: </b>{{ vehicle.age() / 365.2524 }} years</p>
        <button type="button" class="btn btn btn-primary">Edit</button>
        <button class="btn btn-danger" data-toggle="DeleteModal" data-target="#myModal">Delete</a>
    </div>

    <div class="modal fade" id="DeleteModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">href="/vehicle/{{ vehicle.vehicle_id }}/delete"</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                    <button class="btn btn-danger" data-toggle="DeleteModal" data-target="#myModal">Delete</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <h2 class="mt-2">Odometer Readings</h2>
        <table class="table">
            <thead>
                <th>Date</th>
                <th>Mileage</th>
            </thead>
            <tbody>
                {% for reading in vehicle.odo_readings | sort(attribute='reading_date', reverse = True) %}
                <tr>
                    <td>{{ reading.reading_date }}</td>
                    <td>{{ reading.reading | mileage }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form method="post">
            <label for="mileage">Current Mileage</label>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="number" class="form-control" name="mileage" placeholder="Enter current mileage" min=1
                        required>
                </div>
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary">Add Mileage</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2 class="mt-2">Maintenance Schedule</h2>
        {% if vehicle.maintenance %}
        <table class="table">
            <thead>
                <th>Task Name</th>
                <th scope="col" class="d-none d-sm-table-cell">Frequency (miles)</th>
                <th scope="col" class="d-none d-sm-table-cell">Frequency (months)</th>
                <th>Status</th>
            </thead>
            <tbody>
                {% for maintenance in vehicle.maintenance | sort(attribute='name') %}
                <tr>
                    <td><a
                            href="/vehicle/{{ vehicle.vehicle_id }}/maintenance/{{ maintenance.maintenance_id }}">{{ maintenance.name }}</a>
                    </td>
                    <td scope="col" class="d-none d-sm-table-cell">{{ maintenance.freq_miles | mileage }}</td>
                    <td scope="col" class="d-none d-sm-table-cell">{{ maintenance.freq_months }} months</td>
                    {% if maintenance.status() == 'Good' %}
                    <td><button type="button" class="btn btn btn-success">{{ maintenance.status() }}</button></td>
                    {% elif maintenance.status() == 'Maintenance Soon' %}
                    <td><button type="button" class="btn btn btn-warning">{{ maintenance.status() }}</button></td>
                    {% else %}
                    <td><button type="button" class="btn btn btn-danger">{{ maintenance.status() }}</button></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>You currently do not have any scheduled maintenance for this vehicle.</p>
        {% endif %}
        <a class="btn btn-primary" href="/vehicle/{{ vehicle.vehicle_id }}/addmaint" role="button">Add to
            Schedule</a>
    </div>
</div>
{% endblock %}