{% extends "layout.html" %}

{% block title %}{{ vehicle.vehicle_name }}{% endblock %}

{% block main %}

<h1>{{ vehicle.vehicle_name }}</h1>
<div class="row">
    <div class="col">
        <h4>Car Info</h4>
        <p>Last reported mileage: {{ vehicle.last_odometer().reading }} miles</p>
        <p>Estimated Current Mileage: {{ vehicle.est_mileage() }} miles</p>
        <p>Age: TBA</p>
        <button type="button" class="btn btn btn-primary">Edit</button>
        <a class="btn btn-danger" href="/vehicle/{{ vehicle.vehicle_id }}/delete" role="button">Delete</a>
    </div>
    <div class="col">
        <h4>Odometer Readings</h4>
        <table class="table">
            <thead>
                <th>Date</th>
                <th>Mileage</th>
            </thead>
            <tbody>
                {% for reading in vehicle.odo_readings %}

                <tr>
                    <td>{{ reading.reading_date }}</td>
                    <td>{{ reading.reading }} miles</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="button" class="btn btn btn-primary">Add reading</button>
    </div>
</div>
<h4>Maintenance Events</h4>

{% endblock %}